#Build outputs
public/
node_modules/
.env

# Envs
.env
src/apps/.env
apps/**/.env

# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.node_repl_history

# OS
.DS_Store
Thumbs.db

#other
.certs/